{% extends "personal/header.html" %}

{% block content %}
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<br>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<p>Hello World This is the file rendered.
</p>
<br>
{%include "personal/includes/htmlsnippet.html" %}
{%include "personal/includes/htmlsnippet.html" %}
{% endblock %}
